@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lexend", sans-serif;
}

.hidden{
    display: none;
}

.header-section{
    max-width: 1440px;
    margin: 0 auto;   
}

.nav-bar{
    background-color: rgb(249, 247, 243);
    padding-top: 24px;
    padding-bottom: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.btn-blog{
    background-color: rgb(180, 244, 97);
    border: none;
    border-radius: 8px;
    padding: 12px 32px;
    color: rgb(17, 17, 17);
    font-size: 1.25rem;
    font-weight: 600;
}

.main-logo{
    display: flex;
    align-items: center;
    gap: 16px;
    color: rgb(17, 17, 17);
    font-size: 1.25rem;
    font-weight: 600;
}

.total-coins{
    display: flex;
    align-items: center;
    gap: 10px;
    color: rgba(17, 17, 17, 0.7);
    font-size: 1.25rem;
    font-weight: 500;
}

.main-buttons-container{
    margin-top: 50px;
    margin-bottom: 32px;
    display: flex;
    justify-content: center;
    gap: 16px;
}

.main-button{
    padding: 16px 32px;
    background-color: rgba(255,255,255,1);
    border: 1px	solid rgba(17, 17, 17, 0.3);
    border-radius: 8px;
    color: rgb(17, 17, 17);
    font-size: 1.25rem;
    font-weight: 600;
}

.active-btn{
    background-color: rgb(180, 244, 97);
    border: none;
    border-radius: 8px;
    padding: 16px 32px;
    color: rgb(17, 17, 17);
    font-size: 1.25rem;
    font-weight: 600;
}

.main-section{
    max-width: 1140px;
    margin: 0 auto;
}

.cards{
    display: flex;
    align-items: center;
    gap: 32px;
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 16px;
    padding: 32px;
    margin-bottom: 32px;
}

.card-coin-amount{
    background-color: rgba(17, 17, 17, 0.05);
    border: none;
    border-radius: 8px;
    padding: 10px 16px;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    gap: 8px;
    color: rgba(17, 17, 17, 0.7);
    font-size: 1rem;
    font-weight: 400;  
}

.card-title{
    color: rgba(17, 17, 17);
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 16px; 
}

.card-description{
    color: rgba(17, 17, 17, 0.7);
    font-size: 1rem;
    font-weight: 300;
    margin-bottom: 24px;
    text-align: justify; 
}

.donation-input{
    display: block;
    width: 100%;
    padding: 18px;
    margin-bottom: 18px;
    font-size: 1rem;
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 8px;
}

.donation-input::placeholder {
    color: rgba(17, 17, 17, 0.4);
}

.btn-donate-now{
    display: block;
    background-color: rgb(180, 244, 97);
    width: 100%;
    padding: 16px 0;
    border: none;
    border-radius: 8px;
    color: rgba(17, 17, 17);
    font-size: 1.25rem;
    font-weight: 600; 
}

.modal-card{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    padding: 40px 80px;
    border-radius: 16px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-card>h3{
    color: rgba(17, 17, 17);
    font-size: 1.25rem;
    font-weight: 800;
    margin-bottom: 12px; 
}

.modal-card>p{
    margin-top: 14px;
    color: rgba(17, 17, 17);
    font-size: 0.875rem;
    font-weight: 500; 
}

.modal-card>h4{
    margin-top: 12px;
    color: rgba(17, 17, 17);
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 20px; 
}

#btn-close{
    border: 1px solid rgb(180, 244, 97);
    border-radius: 8px;
    padding: 10px 20px;
    font-weight: 600;
}

#history-container{
    max-width: 1140px;
    margin: 0 auto;
}

.history>h5{
    text-align: center;
    margin: 100px 0;
    font-size: 2rem;
    font-weight: 900;
}

.history-msg{
    border: 1px	solid rgba(17, 17, 17, 0.1);
    border-radius: 16px;
    padding: 32px;
    margin-bottom: 24px;
}

.history-text{
    color: rgb(17, 17, 17);
    font-size: 1.25rem;
    font-weight: 700;
}

.footer-section{
    background-color: rgb(249, 247, 243);
    padding: 40px 0;
    max-width: 1440px;
    margin: 0 auto;
    text-align: center;
}

/* mobile responsive */

@media screen and (max-width: 576px){

    .nav-bar{
        padding-top: 20px;
        padding-bottom: 30px;
        flex-direction: column-reverse;
        gap: 20px;
    }

    .main-buttons-container{
        margin-top: 40px;
        margin-bottom: 30px;
    }

    .cards{
        flex-direction: column;
        margin: 20px 20px ;
    }

    .card-image>img{
        width: 100%;
    }

    .history-msg{
        margin: 20px 20px;
    }
}